<section> 
    <div class="about-us">
        <div class="about-us-container"> 
            <div class="about-us-container-text">
                <h1> O nas</h1>
                <br>
                <h2>Doświadcz najlepszego studia tatuażu</h2>
                <span>Witajcie w naszym wyjątkowym świecie sztuki ciała! Jesteśmy dumni, że możemy Was powitać na stronie internetowej naszego studia tatuażu. Nasze studio tatuażu to miejsce, gdzie tradycja spotyka się z nowoczesnością, a doświadczenie artystów łączy się z kreatywnością.</span>
                <span>W naszym portfolio znajdziecie szeroką gamę stylów i motywów, od klasycznych wzorów po unikalne projekty niestandardowe. Nasz cel to nie tylko dostarczanie profesjonalnych usług tatuażu, ale także budowanie trwałych relacji z naszymi klientami. Przeglądajcie naszą stronę, poznawajcie naszych artystów, inspirujcie się naszym portfolio i zanurzcie się w świecie sztuki tatuażu.</span>
            </div>
           <div class="about-us-container-image"></div>
        </div>
    </div> 
</section>