<section> 
    <div class="about-us">
        <div class="about-us-container"> 
            <div class="about-us-container-text">
                <h1> O nas</h1>
                <br>
                <h2>Doświadcz najlepszego studia tatuażu</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula, lacus fringilla ullamcorper lobortis, magna diam congue sem, quis imperdiet urna diam aliquam ligula. Sed quis ex a felis mattis vulputate non eu libero. Nulla at metus odio. Nullam ante odio, finibus quis tortor nec, congue lacinia nunc. Cras nulla neque, laoreet scelerisque libero quis, tempor mattis nulla. Quisque vel pharetra dolor. Vestibulum sed egestas sem. Vestibulum non posuere quam. Proin dictum lectus nec lectus dignissim, id consectetur ante commodo.</span>
            </div>
           <div class="about-us-container-image"></div>
        </div>
    </div> 
</section>