.container{
    background: #1c1b1b;
    min-width:100%;
    padding:50px 0;
    display:flex;
    justify-content: center;
    color:white;
}
::ng-deep .mat-accordion .mat-expansion-panel{
    min-width:80% !important;
    background-color: #1c1b1b;
    border: 1px solid white;
    .mat-expansion-panel-header-title{
        color:white !important;
        font-weight: 500;
    }
    .mat-expansion-panel-content {
        color:white !important;
    }
    .mat-expansion-indicator::after{
        color:white;
    }
}
.mat-expansion-panel-body {
    padding: 0 !important;
  }